* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.loader {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.loader button {
  padding: 1rem;
  color: white;
  background: none;
  border: none;
  border: 4px solid white;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
}

.main-container {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(24, 121, 191);
}

.user-list {
  box-sizing: border-box;
  width: 30%;
  background-color: white;
  border: 4px solid rgb(189, 189, 189);
  border-radius: 10px;
  height: 90vh;
  max-height: 90vh;
  overflow: scroll;
  padding: 1rem;
  color: rgb(80, 80, 80);
}

.text-container {
  width: 65%;
  box-sizing: border-box;
  margin-right: 1rem;
  background-color: white;
  border: 4px solid rgb(189, 189, 189);
  border-radius: 10px;
  height: 90vh;
  max-height: 90vh;
  overflow-y: scroll;
  overflow-x: hidden;
  color: rgb(80, 80, 80);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.input-chat {
  align-self: flex-end;
  box-sizing: border-box;
  position: absolute;
  width: 65%;
}

#input {
  width: 95%;
  padding: 1rem;
  border: none;
  border: 2px solid rgb(195, 195, 195);
  color: rgb(103, 103, 103);
  font-size: 1rem;
}

hr.divider {
  padding: 0;
  margin: 1rem 0 1rem;
  border: none;
  border-bottom: 2px solid #e0e0e0;
}

ol#lista-users {
  margin-left: 1rem;
}

.mensajes-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 60px;
  padding-bottom: 60px;
}

*::-webkit-scrollbar {
    width: 0;
}

*::-webkit-scrollbar-track {
    width: 0;
}

*::-webkit-scrollbar-thumb {
  width: 0;
}

.local-message {
  text-align: right;
  padding: 1rem;
  background-color: rgb(48, 159, 193);
  color: white;
  margin: 1rem;
  box-sizing: border-box;
  border-radius: 20px;
  width: 70%;
  margin-left: auto;
  margin-bottom: 0;
}

.remote-message {
  padding: 1rem;
  background-color: rgb(48, 193, 58);
  color: white;
  margin: 1rem;
  box-sizing: border-box;
  border-radius: 20px;
  width: 70%;
  margin-bottom: 0;
}
.pusheen:hover {
  transform: scale(1.5);
}
div.mio {
  background-color: rgb(211, 67, 0);
}